<form [formGroup]="newUserForm" class="user-form" (ngSubmit)="saveUser(newUserForm.value)">
    <mat-form-field>
        <mat-label>NickName</mat-label>
        <input matInput formControlName="nickName" required />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
            <mat-option [value]="role" *ngFor="let role of roles">{{role}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Points</mat-label>
        <input matInput type="number" (mousewheel)="onScroll($event)" formControlName="points" required />
        <mat-error>Points should be positive</mat-error>
    </mat-form-field>
    <button class="submit-button" mat-fab color="primary" type="submit">
        <mat-icon>done</mat-icon>
    </button>
</form>