<form [formGroup]="newStoryForm" class="story-form" (ngSubmit)="saveStory(newStoryForm.value)">
  <div class="header">
    <mat-form-field class="title">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required />
    </mat-form-field>
    <div class="price">
      <mat-label>Price</mat-label>
      <select matInput formControlName="price" (mousewheel)="onScroll($event)">
        <option value="null">Дайте оценку стоимости</option> 
      <option *ngFor="let rate of fibArray" (value)="rate">{{rate}}</option>
      </select>
    </div>
  </div>
  <editor *ngIf="newStoryForm.get('text')" formControlName="text" required></editor>
  <button class="submit-button" mat-fab color="primary" type="submit">
    <mat-icon>done</mat-icon>
  </button>
</form>