:host {
    flex: 1;
    position: relative;
  }
  
  .exercise-block {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .exercise-view {
    display: flex;
    width:100%;
    flex-direction: row;
  }
  
  .name {
    margin: 10px;
    font-size: 250%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
    
  .green {
    background: green;
    color: white;
  }
  
  .red {
    background: crimson;
    color: white;
  }
  