<div class="exercise-view">
    <div class="exercise-block" style="flex: none; flex-direction: row">
      <button mat-fab color="primary">
        {{exercise.price}}
      </button>
      <button *ngIf="userService.currentUser.role=='Administrator'" mat-fab color="primary" style="margin-left: 5px;"
        (click)="edit(exercise.id)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="exercise-block" style="flex: 2">
      <h1>
        <a routerLink="/exercise/{{exercise.id}}" routerLinkActive="active">{{exercise.name}}</a>
      </h1>
    </div>
  </div>
