<mat-tab-group *ngIf="'ADMINISTRATOR' == userService.currentUser.role; else elseBlock2">
    <mat-tab label="Users">
        <crud-table [loadData]="loadUserData" [model]="userDataModel" [deleteDialog]="deleteDialog"
            [addDialog]="createEditUserDialog" [editDialog]="createEditUserDialog"></crud-table>
    </mat-tab>
    <mat-tab label="Stories">
        <crud-table [loadData]="loadStoryData" [model]="storyDataModel" [deleteDialog]="deleteDialog"
            [addDialog]="createEditStoryDialog" [editDialog]="createEditStoryDialog"></crud-table>
    </mat-tab>
    <mat-tab label="Purchases">
        //TODO
    </mat-tab>
    <mat-tab label="Ratings">
        //TODO
    </mat-tab>
</mat-tab-group>
<ng-template #elseBlock2>
    <a href="http://lurkmore.to/%D0%9A%D1%83%D0%BB%D1%85%D0%B0%D1%86%D0%BA%D0%B5%D1%80">Secret</a>
</ng-template>